.background-home{
    background-image: url("../../public/images/backgrounds/background_1.svg");
    background-size: cover;
}

.background-about{
    background-image: url("../../public/images/backgrounds/background_2.svg");
    background-size: cover;
}

.background-values{
    background-image: url("../../public/images/backgrounds/background_2.svg");
}